<table class="invoices-list">
  <thead>
    <tr>
      <th>Description</th>
      <th>Rate</th>
      <th>Energy Consumed</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let invoice of invoices">
      <tr>
        <td class="invoice-cell" colspan="3">Invoice</td>
        <td class="invoice-cell">{{ invoice.totalAmount }}</td>
      </tr>
      <tr *ngFor="let invoiceLine of invoice.invoiceLines">
        <td>{{ invoiceLine.description }}</td>
        <td>{{ invoiceLine.rate }}</td>
        <td>{{ invoiceLine.energyConsumed }}</td>
        <td>{{ invoiceLine.totalAmount }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
